:root {
  --font-stack: "Poppins", sans-serif;

  /* Primary Color */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  font-family: var(--font-stack);
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button,
select,
textarea {
  font: inherit;
  outline: 0;
}

a {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* containe */
.container {
  width: min(50rem, calc(100% - 2rem));
  margin-inline: auto;
  background-color: var(--white);
  padding: 3.25rem 1.375rem 2.625rem 1.375rem;
  border-radius: 1.5rem;
  border-bottom-right-radius: 7rem;
}

.form-inner {
  display: flex;
  gap: 1rem;
}

.form-label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  font-size: clamp(
    0.7rem,
    0.6647887323943661rem + 0.1502347417840377vw,
    0.8rem
  );
  font-weight: 700;
  color: var(--smokey-grey);
  margin-block-end: 0.2rem;
}

.form-input-container {
  flex: 1;
  max-width: 10rem;
  position: relative;
}

.form-input {
  width: 100%;
  padding-inline: 0.7rem;
  padding-block: 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--off-white);
  outline: 0;
  font-size: clamp(
    1.2rem,
    1.0943661971830985rem + 0.4507042253521127vw,
    1.5rem
  );
  font-weight: 700;
  color: var(--off-black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form-input:hover,
.form-input:focus-within {
  border: 0.1rem solid var(--purple);
}

.form-input::placeholder {
  color: var(--smokey-grey);
  opacity: 0.8;
}

.button-container {
  margin-block: 1.5rem;
  position: relative;
}

.button-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--light-grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.form-button {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  margin-inline: auto;
  padding: 1rem;
  background-color: var(--purple);
  border: 0;
  outline: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  z-index: 2;
}

.form-button:hover {
  background-color: var(--off-black);
}

.body-copy {
  font-size: clamp(3rem, 2.295774647887324rem + 3.004694835680751vw, 5rem);
  font-weight: 800;
  font-style: italic;
  line-height: 1.2;
  color: var(--off-black);
}

.body-copy span {
  color: var(--purple);
}

.error-message {
  position: absolute;
  display: inline-block;
  font-size: clamp(
    0.5rem,
    0.33098591549295775rem + 0.7211267605633802vw,
    0.98rem
  );
  width: max-content;
  font-style: italic;
  color: var(--light-red);
  margin-block-start: 0.5rem;
  left: 0;
  bottom: -1.3rem;
}

.error-color {
  color: var(--light-red);
}

.error-border {
  border: 0.1rem solid var(--light-red);
}

@media (width > 48em) {
  .container {
    padding: 3.75rem 3.625rem 3.45rem 3.625rem;
    border-bottom-right-radius: 12rem;
  }

  .form-inner {
    gap: 2rem;
  }

  .form-button {
    width: 5.9375rem;
    height: 5.9375rem;
    margin-inline-end: initial;
    margin-inline-start: auto;
  }

  .error-message {
    bottom: -1.8rem;
  }
}
